@model BVNetwork.InstantArticles.IInstantArticleAuthor

<address>
    @{
        if (Model.FacebookUsername != null)
        {
            <a rel="facebook" href="http://facebook.com/@Model.FacebookUsername">@Html.Raw(Model.Name)</a>

        }
        else
        {
            <a>@Html.Raw(Model.Name)</a>
        }
    }
    @Html.Raw(Model.Bio)
</address>