<?xml version="1.0" encoding="utf-8"?>
  <module name="BVNetwork.InstantArticles" loadFromBin="false" description="Allows for articles to become Facebook Instant Articles" tags="EPiServerPublicModulePackage">
    <assemblies>
      <add assembly="BVNetwork.InstantArticles" />
    </assemblies>
  </module>